<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>error-Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <h1>로그인부터 해주세요</h1>
    <div class="jumbotron">
        <a class="btn btn-lg btn-secondary" href="/login">로그인</a>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
</html>
